<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Email</th>
      <th scope="col">Codice Fiscale</th>
      <th scope="col">Provincia</th>
      <th scope="col">Telefono</th>
      <th scope="col">Età</th>
    </tr>
  </thead>
  <tbody>
    <tr app-user *ngFor="let user of users" [user]="user" (userDeleted)="onDeleteUser($event)" (userUpdated)="onUpdateUser($event)">
    </tr>
  </tbody>
</table>
