<div *ngIf="isDataAvailable">
  <form #f="ngForm">
    <input type="hidden" name="id" [(ngModel)]="user.id">
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="nameInput" placeholder="Nome" [(ngModel)]="user.firstName" name="firstName">
      </div>
      <div class="form-group col-md-5">
        <label for="lastName">Cognome</label>
        <input type="text" class="form-control" id="surnameInput" placeholder="Cognome" [(ngModel)]="user.lastName" name="lastName">
      </div>
      <div class="form-group col-md-2">
        <label for="age">Età</label>
        <input type="number" class="form-control" id="ageInput" placeholder="Età" [(ngModel)]="user.age" name="age">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="emailInput" placeholder="Email" [(ngModel)]="user.email" name="email">
      </div>
      <div class="form-group col-md-4">
        <label for="phone">Telefono</label>
        <input type="tel" class="form-control" id="phoneInput" placeholder="Telefono" [(ngModel)]="user.phone" name="phone">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="fiscalCode">Codice Fiscale</label>
        <input type="text" class="form-control" id="fiscalCodeInput" placeholder="Codice Fiscale" [(ngModel)]="user.fiscalCode" name="fiscalCode">
      </div>
      <div class="form-group col-md-6">
        <label for="fiscalCode">Provincia</label>
        <input type="text" class="form-control" id="fiscalCodeInput" placeholder="Provincia" [(ngModel)]="user.province" name="province">
      </div>
    </div>
    <div class="form-group form-footer text-center">
      <button type="button" class="btn btn-primary" (click)="onBack()">Indietro</button>
      <button type="button" class="btn btn-secondary" (click)="onResetForm(f.form)">Reset</button>
      <button type="button" class="btn btn-success" (click)="onUpdateUser()">Salva</button>
    </div>

  </form>
</div>
