<td>{{ user.firstName }}</td>
<td>{{ user.lastName }}</td>
<td>{{ user.email }}</td>
<td>{{ user.fiscalCode }}</td>
<td>{{ user.province }}</td>
<td>{{ user.phone }}</td>
<td>{{ user.age }}</td>
<div class="row buttons">
  <div class="col-sm-2">
    <button type="button" class="btn btn-primary btn-sm" (click)="onShowUserDetail()">
      <fa-icon [icon]="faInfo"></fa-icon>
    </button>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-primary btn-sm" (click)="onUpdateUser()">
      <fa-icon [icon]="faPencil"></fa-icon>
    </button>
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-danger btn-sm" (click)="onDeleteUser()">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </div>
</div>


